@import "bootstrap-icons/font/bootstrap-icons.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";

.table-recap {
    width: 100%;
}
.table-recap,
tr,
th,
td {
    border: 1px solid;
    text-wrap: nowrap;
}
